@font-face {
  font-family: "edwardian";
  src: local("edwardian"),
    url(../fonts/edwardian-script-itc-bold.ttf) format("truetype");
}
@font-face {
  font-family: "Ephesis";
  src: local("Ephesis"), url(../fonts/Ephesis-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "trajan";
  src: local("trajan"), url(../fonts/Trajan-Pro-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "BirthstoneBounce";
  src: local("BirthstoneBounce"),
    url(../fonts/BirthstoneBounce-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "NanumMyeongjo";
  src: local("NanumMyeongjo"),
    url(../fonts/NanumMyeongjo-Bold.ttf) format("truetype");
}

/* body,
.v-application,
#app {
  font-family: "trajan";
  background-image: url("../images/sky.jpg");
} */

body,
.v-application {
  font-family: "trajan";
}

.font-BirthstoneBounce {
  font-family: "BirthstoneBounce";
}

.font-edwardian {
  font-family: "edwardian";
}

.font-ephesis {
  font-family: "Ephesis";
}

.font-trajan {
  font-family: "trajan";
}

.font-title {
  font-size: 45px;
  line-height: 50px;
}

.font-title-bigger {
  font-size: 70px;
}

.font-title-smaller {
  font-size: 35px;
  line-height: 50px;
}
